<!DOCTYPE html>
<html>
<head>
    <title>ToDo List</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <h1>ToDo List</h1>
 
    <form method="POST">
        <input type="text" name="title" placeholder="Task title" required>
        <input type="text" name="description" placeholder="Task description" required>
        <button type="submit">Add Task</button>
    </form>


    <div>
    {% for task in tasks %}
    <div class="task-block">
        <div class="task-details">
            <span class="update-icon" onclick="openUpdatePopup({{ task.id }}, '{{ task.title }}', '{{ task.description }}')">
                <i class="fas fa-edit"></i>
            </span>
            <span class="delete-icon" onclick="deleteTask({{ task.id }})">
                <i class="fas fa-trash"></i>
            </span>
        </div>
        <h3>{{ task.title }}</h3>
        <p>{{ task.description }}</p>
    </div>
    
    {% endfor %}
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-messages">
        {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}


    <a href="{{ url_for('logout') }}">Logout</a>

    <!-- Signature Container -->
    <div class="signature-container">
        <div class="signature">
            Made with ❤️ by Shib Kumar Saraf
        </div>
    </div>
<script src="static/tasks.js"></script>
</body>
</html>
